#footerContent {
    background-color: #006;
}

.navbar-default {
  li
    a.footerLink {
        & {
          color: #fff;
        }
    }
}

#copyright {
    color: $primDarkGray;
}

#copyright
    .glyphicon-copyright-mark {
        font-size: $footerGlypiconFontSize;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
}


