$IDShieldColor: #dd8926;
$IDShieldBlue : #003451;
$IDShieldLighterBlue: #073551;
$IDShieldTextColor : #707070;
$IDShieldBorderColor : #ABABAB;
$IDSLinkColor: #2ba6cb;

$placeholderText: #000;
$kendoButtonPadding: 10px 14px;

$pagerMarginTop: 5%;
$pagerMarginBottom: 10%;

$darkBlueHeader: #003451;

//kroll colors
$warmGray: #5E5250;
$krollRed: #A22B38;
$krollLime: #A2AD00;
$krollBlue: #00A5E6;
$krollOrange: #E05206;
$krollYellow: #EEAF00;
$krollGray: #5E5250;
$krollGradient: linear-gradient(to bottom, #043f6c 0%, #2b5d82 100%);

//primerica colors

$primLightGray : rgb(204, 204, 204);
$primDarkGray : rgb(104, 104, 104);
$primRed : rgb(255, 0, 0);
$primBlue : rgb(51, 153, 255);


//selector groups

$allText : "a, p, h1, h2, h3, h4, h5, h6, span, label, section, fieldset, div";
$headersAndLinks : "h1, h2, h3, h4, h5, h6, a";
$headers : "h1, h2, h3, h4, h5, h6";
