<main id='reset-password-view'>

  <!-- MODAL TEMPLATE -->

  <div class='modal fade' id='password-reset-expired-modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>
            <span>x</span>
          </button>
          <h2 class='modal-title'>Oops! - One of two things happened:</h2>
        </div>
        <div class='modal-body'>
          <div>
            <p>Either, the "Set Password" link we sent to you expired (It's valid for only 24 hours). Or, you've already used the link provided to set your password. The link is valid for only one use.</p>
          </div>
          <p>If you need to set your password again, please request a new link by entering your username again.</p>

        </div>

        <div class='modal-footer'>
          <div>
            <!--<button type='button' class="submitButton" data-dismiss='modal' id="backToLoginButton" ng-click='resetPass.backToLogin()'>Back to Login</button>-->
            <button type='submit' class="submitButton" data-dismiss='modal' id="backToLoginButton" ng-click='resetPass.backToLogin()' >Back to Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END MODAL TEMPLATE -->


  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="global-form-instructions">
        <h2>SET PASSWORD</h2>
        <p class="reset-instructions">Use the inputs below to set a new password.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <response-box config="resetPass.responseBoxConfig"></response-box>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <form id="setPasswordForm" name="resetPass.form" validation-highlights>
          <div class="global-form">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <h4>
                  PASSWORD REQUIREMENTS:
                </h4>

                <ul class="reqs">
                  <li><span ng-if="!resetPass.valid.length && resetPass.form.password.$dirty">!</span><p>Must be between 8 and 15 characters</p></li>
                  <li><span ng-if="!resetPass.valid.lowerCase && resetPass.form.password.$dirty"> ! </span><p>Must contain at least one lower-case letter.</p></li>
                  <li><span ng-if="!resetPass.valid.upperCase && resetPass.form.password.$dirty"> ! </span><p>Must contain at least one upper-case letter.</p></li>
                  <li><span ng-if="!resetPass.valid.number && resetPass.form.password.$dirty"> ! </span><p>Must contain at least one number.</p></li>
                </ul>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-8 small-form">
                <div input-linker="match" bad-link-text="The two passwords need to match." >
                  <div class="row">
                    <div class="col-xs-12 form-group">
                      <label for="password" class="form-control-label">PASSWORD<span class="required">*</span></label>

                      <input
                        type="password"
                        class="form-control input"
                        id="password"
                        ng-pattern="resetPass.regex.password"
                        ng-model="resetPass.data.Password"
                        autocomplete="off"
                        name="password"
                        required
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 form-group">
                      <label for="confirmPassword" class="form-control-label">CONFIRM PASSWORD<span class="required">*</span></label>

                      <input
                        type="password"
                        class="form-control input"
                        id="confirmPassword"
                        ng-pattern="resetPass.regex.password"
                        autocomplete="off"
                        ng-model="resetPass.data.confirmPassword"
                        name="confirmPassword"
                        required
                      />
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="global-form-button-holder">
          <kendo-button
            class="submitButton processingBtn"
            ng-disabled="resetPass.form.$invalid"
            ng-click="resetPass.setPasswordRequest($event)"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending Request"
          >Submit</kendo-button>
        </div>
    </form>

</main>
