#header
  .headerLinks {
    color: gray;
    &:hover, &:focus {
      color: black;
      // background-color: #999;
    }
    // &:visited {
    //   color: #fff;
    //   background: #999;
    // }
  }

.headerContainer header img.navbar-brand {
  margin-left: 5%;
}

.navbar-toggle.hamburger {
  &, &:hover, &:active, &:focus {
    background-color: rgba(232,232,232,0.9);
  }
}

header div.collapse {
  // background-color: rgb(153, 153, 153);
}

div.navbar-header, div.navbar-collapse, header.navbar, div.headerContainer {
  // background-color: #999;
}

div.collapse > ul.nav, div.collapse > ul.nav > li > a.headerLinks:hover {
  // background-color: #999 !important;
  outline: none !important;
}

.nav>li>a:focus, .nav>li>a:hover {
      background-color: none !important;
}

.navbar-collapse.collapse {
  height: 90px;
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-bottom: 0px;
  }

  .navbar-collapse.collapse {
    height: auto;
  }

  header {
    padding: 0px 15px;
    // background-color: rgb(153, 153, 153);
  }

  #header {
    .headerLinks {
      //margin-top: 3px;
      color: #fff;
    }
    li:nth-child(n+2) {
      border-top: 1px solid #3c3c3c;
    }
    li{
       background-color: rgb(153, 153, 153);
    }
    li > a:hover {
      background-color: rgb(153, 153, 153);
    }
  }
}

header {
  .navbar-toggle.hamburger , .navbar-toggle.hamburger:hover {
    .icon-bar {
      background-color: none;
    }
  }
}

#header {
  li > a:focus {
    background-color: none;
}
}
