<main id="forgot-username-view">

<!-- USERNAME-FORCE-RESET-MODAL TEMPLATE -->

  <div class='modal fade recover-page-modal' id='username-force-reset-modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>
            <span>&times;</span>
          </button>
          <h2 class='modal-title'>RECOVER ACCOUNT</h2>
        </div>
        <div class='modal-body'>
          <div>
            <p>Your username is:</p>

            <p class="centered bold">{{forgotUsername.data.Username}}</p>

            <p>Our records indicate that you haven't logged in since June 1, 2016. You will need to reset your password in order to access your account. A password reset email has been sent to the email associated with your account.</p>
          </div>

        </div>

        <div class='modal-footer'>
          <div>
            <button type='button' class="submitButton" data-dismiss='modal' ng-click='forgotUsername.backToLogin()'>Back to Login</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- MODAL TEMPLATE -->

  <div class='modal fade' id='username-modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>
            <span>&times;</span>
          </button>
          <h2 class='modal-title'>FORGOT USERNAME</h2>
        </div>
        <div class='modal-body'>
          <div>
            <p>Your username is:</p>

            <p class="centered bold">{{forgotUsername.data.Username}}</p>
          </div>

          <!-- <div ng-if="!forgotUsername.username.success">
            <p>{{forgotUsername.username.errorMessage}}</p>
          </div> -->

        </div>

        <div class='modal-footer'>
          <div>
            <button type='button' class="submitButton" data-dismiss='modal' ng-click='forgotUsername.resetPass()'>Reset Password</button>
            <button type='button' class="submitButton" data-dismiss='modal' ng-click='forgotUsername.backToLogin()'>Back to Login</button>
          </div>
          <!-- <div ng-if="!forgotUsername.username.success">
            <button type='button' class="submitButton" data-dismiss='modal'>Close</button>
          </div> -->

        </div>
      </div>
    </div>
  </div>

  <!-- END MODAL TEMPLATE -->



  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="global-form-instructions">
        <h2>FORGOT USERNAME</h2>
        <section>
          <p>For your security please provide the following information so that we may recover your username.</p>
        </section>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <response-box config="forgotUsername.responseBoxConfig"></response-box>
    </div>
  </div>

  <!-- -->
    <form name="forgotUsername.form" validation-highlights>
      <div class="global-form">
        <div class="row">
          <div class="form-group col-xs-12 col-sm-6">
            <label for="membershipNum" class="form-control-label">MEMBERSHIP NUMBER<span class="required">*</span></label>
            <div class="">
              <input type="text" class="form-control input"  name="membershipNum" ng-model="forgotUsername.recoveryData.MembershipNumber" required/>
              <span uib-popover="Your IDShield membership number begins with 700, followed by 'm' or 's'." class="glyphicon glyphicon-question-sign tool-tip-icon" popover-placement="top-right" popover-trigger="'mouseenter'"></span>
            </div>
          </div>
          
          <div class="form-group col-xs-12 col-sm-4">
            <label for="lastName" class="form-control-label">LAST NAME<span class="required">*</span></label>
            <div class="">
              <input type="text" ng-pattern="forgotUsername.regex.lastName" class="form-control input" name="lastName" ng-model="forgotUsername.recoveryData.LastName" required/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12 col-sm-4">
            <label for="zip" class="form-control-label">ZIP CODE<span class="required">*</span></label>
            <div class="">
              <input type="text" ng-pattern="forgotUsername.regex.zip" class="form-control input" name="zip" ng-model="forgotUsername.recoveryData.ZipCode" required/>
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-4">
            <label for="dob" class="form-control-label">DATE OF BIRTH<span class="required">*</span></label>
            <div class="">
              <input
                id="dob"
                kendo-date-picker
                k-options="forgotUsername.kendoDateOptions"
                k-format="'MM/dd/yyyy'"
                placeholder="MM/DD/YYYY"
                class="input"
                name="dob"
                ng-pattern="forgotUsername.regex.date"
                ng-model="forgotUsername.recoveryData.DateOfBirth"
                required
              />
            </div>
          </div>
        </div>

      </div>

      <div class="global-form-button-holder">
        <kendo-button
          class="submitButton processingBtn" 
          ng-disabled="forgotUsername.form.$invalid" ng-click="forgotUsername.sendForgotUsernameRequest($event)"
          data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending Request"
        >RECOVER USERNAME</kendo-button>
      </div>
    </form>
</main>
