
<main id="set-password-view" data-ng-controller="sessionTimout as session">
  <session-popup></session-popup>
  <div class="centered-response-box">
    <form id="forgotPasswordForm" name="forgotPass.form" validation-highlights>
      <div class="global-form">
        <p> Enter your username to receive a reset password link.</p>
        <div class="form-group">
          <label for="username"> USERNAME <span class="required">*</span></label>
          <input
            type="text"
            class="form-control input"
            autocomplete="off"
            id="username"
            ng-model="forgotPass.forgotPasswordData.username"
            ng-pattern="forgotPass.regex.username"
            name="username"
            required
          />
        </div>

        <div class="global-form-button-holder">
          <kendo-button
            class="submitButton"
            ng-disabled="forgotPass.form.$invalid"
            ng-click="forgotPass.recoverPasswordRequest($event)"
          >Submit</kendo-button>
        </div>
      </div>
    </form>
  </div>

</main>
