header
  .headerLinks {
    color: $IDShieldColor;
  }

  .navbar-collapse {
    //background-color: $footerBackgroundColor;
  }

.navbar-toggle.hamburger , .navbar-toggle.hamburger:hover {
  background-color: $footerBackgroundColor;
}

header.navbar {
  //padding: 20px;
}

#header:hover {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  #header {
    li:nth-child(n+2) {
      border: 1px solid #fff;
    }
  }
}
