#footerContent {
    background-color: $darkBlueHeader;
}

.navbar-default
        .navbar-nav
            li
                a.footerLink:hover {
                    color: orange;
                }

.navbar-default
        .navbar-nav
            li
                a.footerLink:focus {
                    color: #2ba6cb;
                }

.navbar-default
        .navbar-nav
            li
                a.footerLink:active {
                    color: #2ba6cb;
                }
