$fieldsetDisplay: inline-block;

$fieldsetBorder: 3px;
$fieldsetBorderRadius: 5px;
$fieldsetBorderColor: darkgray;

$fieldsetPadding: 8% 14%;

$legendMarginBottom: 1%;
$loginWidth: 30%;

$fieldsetInputBorder: 0.3px;

$fieldsetInputColor: #000;

$fieldsetInputMarginBottom: 10%;
